[Unit]
Description=Airflow daemon
[Service]
User=huydq129
#Group=airflow
EnvironmentFile=/etc/environment
Type=simple
ExecStart=/usr/local/bin/airflow 'scheduler'
Restart=on-failure
RestartSec=5s
PrivateTmp=true
[Install]
WantedBy=multi-user.target